body {
    font-family: "Open Sans";
}

h3{
    display: block;
}

#main {
    flex-direction: column;
    width: 100%;
    display: flex;
    align-items: center;
}

text.label {
    text-anchor: middle;
    font-size: 11px;
    fill: #555;
    font-family: sans-serif;
}

.axis line,
.axis path {
    stroke: none;
}


 /* tip */
 .tip{
    width: '100px';
    color: black; 
    background-color: #eee;
    text-align: center;
    box-shadow: 0px 2px 10px -2px #aaa;
    padding: 20px;
    border: 2px solid #444;
    transition: all 160ms cubic-bezier(0.455, 0.03, 0.515, 0.955);
 }
 /* .tip::after{
    content: " ";
    position: absolute;
    bottom: -.5rem;
    left: 50%;
    margin-left: -.5rem;
    border-style: solid;
    border-width: .5rem .5rem 0 .5rem;
    border-color: #444 transparent transparent transparent;
} */
